{% import 'orka/baselib.html' as baselib with context %}


{% if appbuilder %}
    {% set app_name = appbuilder.app_name %}
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{app_name}}</title>

    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
{#         {% if appbuilder.app_theme %}#}
{#               <link href="{{url_for('appbuilder.static',filename='css/themes/'+ appbuilder.app_theme )}}"  rel="stylesheet">#}
{#         {% endif %}#}
{#         {{ super() }}#}
        <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <link href="{{url_for('static',filename='css/datepicker3.css')}}" rel="stylesheet">
        <link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet">
         <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
         <!--[if lt IE 9]>
            <script src="{{url_for('static',filename='js/html5shiv.js')}}"></script>
            <script src="{{url_for('static',filename='js/respond.min.js')}}"></script>
         <![endif]-->
        <link href="{{url_for('appbuilder.static',filename='select2/select2.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/flags/flags16.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/ab.css')}}" rel="stylesheet">
        <link href="{{url_for('appbuilder.static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
    {% endblock %}

    {% block head_js %}
        <script src="{{url_for('static',filename='js/lumino.glyphs.js')}}"></script>
        <script src="{{url_for('appbuilder.static',filename='js/jquery-latest.js')}}"></script>
        <script src="{{url_for('appbuilder.static',filename='js/ab_filters.js')}}"></script>
        <script src="{{url_for('appbuilder.static',filename='js/ab_actions.js')}}"></script>
    {% endblock %}

</head>

<body >

{% block body %}
{% endblock %}


{% block tail_js %}
     <script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/chart.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/chart-data.js')}}"></script>
    <script src="{{url_for('static',filename='js/easypiechart.js')}}"></script>
    <script src="{{url_for('static',filename='js/easypiechart-data.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap-datepicker.js')}}"></script>
    <script src="{{url_for('appbuilder.static',filename='select2/select2.js')}}"></script>
    <script src="{{url_for('appbuilder.static',filename='js/ab.js')}}"></script>
{% endblock %}

{% block add_tail_js %}
{% endblock %}

{% block tail %}
    <script>
		$('#calendar').datepicker({
		});

		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){
		        $(this).find('em:first').toggleClass("glyphicon-minus");
		    });
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>
{% endblock %}

  </body>
</html>
