{% macro menu_item(item) %}
    <a tabindex="-1" href="{{item.get_url()}}">
       {% if item.icon %}
        <i class="fa fa-fw {{item.icon}}"></i>&nbsp;
    {% endif %}
    {{_(item.label)}}</a>
{% endmacro %}


{% for item1 in menu.get_list() %}
    {% if item1 | is_menu_visible %}
        {% if item1.childs %}
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                {% if item1.icon %}
                    <i class="fa {{item1.icon}}"></i>&nbsp;
                {% endif %}
                {{_(item1.label)}}<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                {% set divider = False %}
                {% for item2 in item1.childs %}
                    {% if item2.name == '-' %}
                        {% set divider = True %}
                    {% else %}
                        {% if item2 | is_menu_visible %}
                            {% if divider %}
                                <li class="divider"></li>
                                {% set divider = False %}
                            {% endif %}
                            <li>{{ menu_item(item2) }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li>
                {{ menu_item(item1) }}
            </li>
        {% endif %}
    {% endif %}
{% endfor %}
